// Colours
$colour_blue_light: rgb(43, 111, 169);
$colour_blue_dark: rgb(0, 51, 153);
$colour_blue_verydark: rgb(0, 0, 51);
$colour_blue_veryverydark: darken($colour_blue_verydark, 3%);
$colour_blue_medium: rgb(0, 102, 204);
$colour_grey: rgb(231, 231, 231);
$colour_button: rgb(48, 113, 169);

// Dimensions
$menuHeight: 52px;
